body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

#submit {
  width: 100px;
}

#next, #previous {
  width: 100px;
}
